body {
  margin: 0px;
  padding: 0px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  background-color: #ffffff;
}

/* Image section */
.hero-image {
  width: 55%;
  height: 320px;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.hero-content {
  width: 40%;
}

.hero-content h1 {
  font-size: 28px;
  margin-bottom: 12px;
}

.hero-content p {
  font-size: 14px;
  color: black;
  margin-bottom: 20px;
}

.btn {
  padding: 8px 18px;
  background-color: red;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-size: 12px;
}
